---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% unless post.categories contains "mdc-emcomm-challenge" %}
      {% assign postYear = post.date | date: "%Y" %}
      {% if postYear == "2026" %}
        <article class="post">

          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

          <div class="entry">
            {% if post.excerpt != post.content %}
              {{ post.excerpt }}
            {% else %}
              {{ post.content | strip_html | truncatewords: 75 }}
            {% endif %}
          </div>
          </br>

          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>

{% include contact.html %}
